<!DOCTYPE html>
<html ng-app='JP' ng-controller='JourneyPlannerCtrl'>
<head>
    <title ng-bind="model.helloAngular"></title>
</head>
<body>
    
    <input type="text" ng-model="model.helloAngular" />
    <h1>{{model.helloAngular}}</h1>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    @Scripts.Render("~/bundles/JourneyPlanner");
</body>
</html>